div.container{ 
display: flex; 
} 

body { 
margin: 0px; 
} 

#img1{ 
width:300px; 
height:240px; 
} 

#img{ 
width:300px; 
height:240px; 
} 

header.heade { 
height: 100px; 
padding-bottom: 10px;
background-color: #FFAE00; 
color: #000000; 
width:100%; 
} 


TABLE{ 
padding-left: 15px; 
padding-bottom: 15px; 
} 


div.log{ 
margin-left: 10%; 
padding-top: 20px; 
display:flex; 
justify-content:space-around; 
align-items:center; 
font-size: 20px; 
flex-wrap:wrap; 
}
 
#log { 
width: 100px; 
height: 100px; 
float: left; 
} 

div.child{ 
margin-right: 30%; 
color: #FFAE00; 
font-size: 150%; 
margin-top: 10px; 
} 

div.container{ 
flex-direction:column; 
} 

div.log2{ 
background-color:#FFAE00; 
color: #000000; 
font-size: 125%; 
width: 100%; 
margin: 0 auto; 
margin-top:10px; 
align-items: center;  
} 

.nav { 
margin-top: 10px;
max-width: 960px; 
margin:auto; 
} 
.nav div { 
display: inline-block; 
} 
.button{ 
border-radius: 3px; 
border: 1px; 
font-family: Arial; 
background-color: #FFAE00; 
font-size: 20px; 
width: 290px; 
text-align: center ; 
margin-bottom:4px; 
padding: 10px; 
} 
div a{ 
text-decoration: none; 
}

div.item-3 { 
order: 2; 
} 
div.item-5 { 
order: -2; 
} 
div.item-7 { 
order: 1; 
} 

@media screen and (min-width:850px) 
{ 
	div.container{ 
flex-direction: column-reverse; 
} 

.nav { 
margin-top: 10px;
max-width: 960px; 
margin:auto; 
} 
.nav div { 
display: inline-block; 
} 
.button{ 
border-radius: 3px; 
border: 1px; 
font-family: Arial; 
background-color: #FFAE00;
font-size: 20px; 
width: 290px; 
text-align: center ; 
margin-bottom:4px; 
padding: 10px; 
} 
div a{ 
text-decoration: none; 
}

div.item-3 { 
order: 1; 
} 
div.item-5 { 
order: 2; 
} 
div.item-7 { 
order: -2; 
} 

header.heade{ 
width:100%; 
background-color:#FFAE00; 
padding: 10px; 
height:190px; 
} 

div.c1{ 
color: #000000; 
background-color: #E9E185; 
font-size: 200%;
margin-top: 10px; 
} 


#log{ 
float:left; 
margin-left:165px; 
width:175px; 
height:175px; 
margin-right: 10px; 
margin-bottom:10px; 
margin-top: 10px; 
} 

div.log{ 
font-size: 125%; 
max-width:960px; 
margin: 0 auto; 
margin-top:20px; 
padding:10px; 
background-color:#FFAE00; 
color: #000000; 
display:flex; 
justify-content:space-around; 
align-items:center; 
flex-wrap:wrap; 
} 

div.log2{ 
font-size: 125%; 
max-width:960px; 
margin: 0 auto; 
margin-top:20px; 
padding:10px; 
background-color:#FFAE00; 
color: #000000; 
} 
}

table
{
	border: 1px solid black;
	width: 100%; 

}

td
{
	border: 1px solid black;
}

tr.even { 
background: #88CC4B; 
} 

footer.b{  
background-color:#FFAE00; 
padding: 10px; 
height: 10px; 
}
